extends ../layout.jade

block content
	h1  To Do List

	h2 Add New Task
	form#form(action="/tasks", method="POST", enctype="application/x-www-form-urlencoded")
		input#title_input(type="text", name="title")
		button Add

	h2.taskCounter
	ul.taskList
		each task in tasks
			li(class=(task.checked ? "green" : "notDone"))
				form.checkboxForm(action="/tasks/completed/#{task._id}", method="POST", enctype="application/x-www-form-urlencoded")
					//- div
					input.checkbox(type="checkbox", name="task", checked=(task.checked ? "checked" : undefined))
					//- button Submit
					//- console.log
				a(href="/tasks/#{task._id}")
					span.title= task.title
				br
				span.body= task.body
				br
				a(href="/tasks/#{task._id}")
					button#edit Edit
				form(action="/tasks/#{task._id}?_method=DELETE", method="POST", enctype="application/x-www-form-urlencoded")
					button#del Delete

	a(href="/tasks/new")		
		button New
